version: '3.8'

services:

  # Service 1: Qdrant Database for the RAG Application
  qdrant-rag:
    image: qdrant/qdrant
    container_name: qdrant_rag_container
    ports:
      - "8252:6333"
    volumes:
      - ./rag_qdrant_data:/qdrant/storage
    dns:
      - 8.8.8.8
    networks:
      default:
        aliases:
          - qdrant
    restart: always

  # Service 2: Python AI Server for RAG logic
  ai-server-rag:
    build:
      context: .
      dockerfile: Dockerfile.ai
    container_name: ai_server_rag_container
    ports:
      - "8250:8250"
    volumes:
      - .:/app
      - ./data/uploads:/app/data/uploads
    dns:
      - 8.8.8.8
    networks:
      default:
        aliases:
          - ai-server
    depends_on:
      - qdrant-rag
    user: "${UID}:${GID}"
    restart: always
    environment:
      - COQUI_TOS_AGREED=1 
      - USE_OLLAMA=false
      - GROQ_API_KEY=${GROQ_API_KEY} 

  # Service 3: Node.js Backend
  node-backend-rag:
    build:
      context: .
      dockerfile: Dockerfile.node
    container_name: node_backend_rag_container
    ports:
      - "8251:8251"
    volumes:
      - .:/app:cached              
      - node_modules:/app/node_modules   
      - ./data/uploads:/app/data/uploads
    dns:
      - 8.8.8.8
    depends_on:
      - ai-server-rag
    user: "${UID}:${GID}"
    restart: always

# Volumes
volumes:
  shared_uploads:
  node_modules:  
